.aboutdark {
    width: 100%;
}

.aboutdark h1 {
    text-align: center;
    font-size: 15rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.aboutdark img {
    margin-top: 50px;
    width: 50%;
    position: relative;
    left: 25%;
}

.aboutdark h2 {
    margin-top: 40px;
    font-size: 2rem;
    color: #fff;
}

.aboutdark p {
    color: #C0C5D0;
    margin-top: 10px;
    font-size: 1.1rem;
}

.aboutdark ul {
    color: #C0C5D0;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.1rem;
}


/* Light mode */

.aboutlight {
    width: 100%;
}

.aboutlight h1 {
    text-align: center;
    font-size: 15rem;
    border-top: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    color: #000;
}

.aboutlight img {
    margin-top: 50px;
    width: 100%;
}

.aboutlight h2 {
    margin-top: 40px;
    font-size: 2rem;
    color: #000;
}

.aboutlight p {
    color: #667085;
    margin-top: 10px;
    font-size: 1.3rem;
}

.aboutlight ul {
    color: #667085;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1rem;
}