@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog {
    width: min-content;
    padding: 10px 50px;
    margin: 0 250px;
}

.blog--date p {
    font-weight: 700;
    color: #6941C6;
}

.blog--head--text {
    margin-top: 25px;
    font-size: 3rem;
    color: #fff;
}

.blog--main--img {
    width: 80%;
    height: 500px;
    margin-top: 20px;
}

.blog--main--img--img {
    height: 100%;
}

.desc {
    color: #C0C5D0;
    font-size: 1.1rem;
    line-height: 130%;
    margin-top: 25px;
}

.blog--tags {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.blog--tag {
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    padding: 4px 15px;
    border-radius: 15px;
}

.newsletter {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter--heading {
    font-weight: 700;
    color: #6941C6;
}

.newsletter--headingstories--dark {
    margin-top: 15px;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.newsletter--desc--dark {
    margin-top: 15px;
    padding: 0 50px;
    text-align: center;
    color: #C0C5D0;
    font-size: 1rem;
    font-weight: 300;
}

.newsletter--form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.newsletter--email--dark {
    width: 280px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    color: #667085;
    outline: none;
    font-size: 0.9rem;
}

.newsletter--button {
    padding: 3px 15px;
    border-radius: 8px;
    background-color: #7F56D9;
    border: 1px solid #7F56D9;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
}

.newsletter--privacy--dark {
    margin-top: 8px;
    color: #C0C5D0;
    font-size: 0.77rem;
}

.newslettersuccess {
    color: greenyellow;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: -5px;
}


/*  Newletter Lightmode */

.newsletter--headingstories--light {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 600;
}

.newsletter--desc--light {
    margin-top: 15px;
    padding: 0 50px;
    text-align: center;
    color: #667085;
    font-size: 1rem;
    font-weight: 300;
}

.newsletter--privacy--light {
    margin-top: 8px;
    color: #667085;
    font-size: 0.77rem;
}

.newsletter--email--light {
    width: 280px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid #C0C5D0;
    color: #667085;
    outline: none;
    font-size: 0.9rem;
}