@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.2s;
}

.navbardark {
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 5px;
    background: #090D1F;
    width: 87%;
    height: 100px;
    align-items: center;
    z-index: 999;
}

.navbar--div {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar--link--div--dark {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar--link--div--dark a {
    text-decoration: none;
    color: #fff;
}

.navbar--links--dark.active {
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.nav-toggle--dark {
    width: 24px;
    height: 24px;
    background-color: #090D1F;
    position: absolute;
    border-radius: 50%;
    right: 38.5px;
    top: 38px;
    transition: 0.2s;
}

.nav-darktoggle--dark {
    background-color: #fff;
    border-radius: 35px;
}

#sundark {
    color: #fff;
    margin-top: 2px;
    font-size: 1.1rem;
    padding: 3px 8px;
}

#moondark {
    color: #000;
    margin-top: 2px;
    font-size: 1.1rem;
    padding: 3px 8px;
}




/* Light Mode */

.navbarlight {
    background: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 5px;
    width: 87%;
    height: 100px;
    align-items: center;
    z-index: 999;
}

.navbar--link--div--light {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar--link--div--light a {
    text-decoration: none;
    color: black;
}

.navbar--links--light.active {
    font-weight: 700;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.nav-toggle--light {
    width: 23px;
    height: 23px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    right: 6.5px;
    top: 38.6px;
    transition: 0.2s;
}

.nav-darktoggle--light {
    background-color: #090D1F;
    border-radius: 45px;
}

#sunlight {
    color: #fff;
    margin-top: 2px;
    font-size: 1.2rem;
    padding: 3px 8px;
}

#moonlight {
    color: #000;
    margin-top: 2px;
    font-size: 1.1rem;
    padding: 3px 8px;
}