@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #090D1F; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dark Mode */

.Appdark {
  min-height: 100vh;
  background-color: #090D1F;
/*   width: 100vw; */
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
  max-width: max-content;
  transition: 0.2s;
}

.content {
  padding-top: 100px;
}

.topcards {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  width: 100%;
  height: 80vh;
  margin-top: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 30px;
  margin-top: 25px;
  border-bottom: 1px solid #fff;
}

.theblogtext--dark {
  text-align: center;
  font-size: 15.5rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.recent--dark h2 {
  color: #fff;
  margin-top: 50px;
  font-size: 1.4rem;
}

/* Light Mode */

.Applight {
  min-height: 100vh;
/*   width: 100vw; */
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
  max-width: max-content;
  transition: 0.2s;
}

.theblogtext--light {
  text-align: center;
  font-size: 15.5rem;
  border-top: 1px solid #1A1A1A;
  border-bottom: 1px solid #1A1A1A;
}

.recent--light h2 {
  margin-top: 50px;
  font-size: 1.4rem;
}